accelerate
cpm-kernels==1.0.11
deepspeed==0.9.5
einops==0.6.1
flash-attn==1.0.7
loguru==0.7.0
lxml==4.9.2
nvidia-ml-py==11.525.131
nvitop==1.1.2
portalocker==2.7.0
py-cpuinfo==9.0.0
pydantic==1.10.9
regex==2023.6.3
setuptools==59.5.0
tabulate==0.9.0
termcolor==2.3.0
tokenizers==0.13.3
transformers==4.30.2